body {
    margin: 0;
    font-family: 'Cursive', sans-serif;
}


.navbar {
    background: #cfc9bd; /* Light taupe */
    color: #554d42; /* Dark olive text */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    font-size: 20px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-left: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #554d42; 
    font-weight: bold;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: #406243; 
    transition: color 0.3s;
}

.header{
    color:#406243;
    background: #cfc9bd; /* Light taupe */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 20px;
}


.home-section {
    background: #d7d2c8; /* Light taupe */
    padding: 50px 0;
}

.home-content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.home-content h2 {
    color: #406243; /* Forest green */
}

.home-content p {
    color: #554d42; /* Dark olive text */
    margin-bottom: 30px;
}

.project-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    margin: 15px;
    text-align: center;
}

.project img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project h3 {
    margin: 10px 0;
    color: #406243; /* Forest green */
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background: #406243; /* Forest green */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.cta-button:hover {
    background: #284632; /* Darker green on hover */
}


@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #cfc9bd; /* Light taupe */
        padding-top: 60px;
    }

    .navbar li {
        margin: 0;
        text-align: center;
    }
}
