body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2F1EB; /* Lightest taupe */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

.navbar {
    background: lightgrey;
    color: #406243; /* Dark green text */
    padding: 25px;
    text-align: right;
    font-size: 18px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.nav-list li {
    margin-left: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #406243; /* Dark green text */
    font-weight: bold;
    transition: color 0.3s;
}

.nav-list .nav-item.active a {
    color: black;
}

.nav-list a:hover {
    color: black;
}

.home-section {
    background: #EEE7DA url("/Home/Images/white-background-with-fresh-green-yellow-leaves-border-greeting-card_442886-593.jpg") bottom center no-repeat;
    background-size: cover; /* Ensure the background image covers the entire section */
    padding: 50px 20px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    min-height: 100vh; /* Ensure the section takes the full viewport height */
}

.home-content {
    max-width: 800px;
    margin: auto; /* Center content horizontally */
}

#title {
    color: #406243;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: -150px;
}

#intro-text {
    color: #406243;
    font-size: 20px;
    margin-top: 40px;
}

#portfolio {
    color: #406243;
    font-size: 25px;
    margin-top: -200px;
}

footer {
    text-align: center;
    padding: 5px;
    color: black;
    margin-top: auto; /* Push the footer to the bottom */
}
/* Media Query for Mobile */
@media screen and (max-width: 768px) {
    .nav-list {
        flex-direction: row; /* Change direction back to row for larger screens */
        align-items: center; /* Align items to the center for larger screens */
    }

    .nav-list li {
        margin-top: 0; /* Reset margin for list items for larger screens */
    }

    #portfolio {
        margin-top: -100px; /* Adjust spacing back to original for larger screens */
    }
}