body {
    margin: 0;
    font-family: "Muli";
    background-color: #fff8f2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border:25px solid white;
}

.navbar {
    background: #fff8f2;
    color: #406243;
    padding: 25px;
    text-align: right;
    font-size: 25px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.nav-list li {
    margin-left: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #406243;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-list .nav-item.active a {
    color: #4d5057;
}

.nav-list a:hover {
    color: black;
}

.wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.grid-container {
    display: grid;
    gap: 20px;
    border: 5px solid black;
    max-width: 1000px;
    padding:100px;
}

.grid-item {
    background-color: #fff8f2;
    padding: 20px;
    text-align: center;
    margin: auto;
}

.grid-container p {
    font-family: "Muli";
}

#aboutMe {
    width: 50%;
    height: auto;
    border-radius: 5px;
    border: 10px solid transparent;
    border-image: url("/Images/64be9f784c95aad203074230_dot_pattern-min.png") 10 repeat;
}

@font-face {
    font-family: "Muli";
    src: url("/Fonts/muli/Muli.ttf");
}

@font-face {
    font-family: "MuliXB";
    src: url("/Fonts/muli/Muli-Bold.ttf");
}

#title {
    color: #406243;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "MuliXB";
    font-weight: bold;
}

#intro-text {
    color: #406243;
    font-size: 20px;
    margin-top: 40px;
}

#portfolio {
    color: #406243;
    font-size: 25px;
    margin-top: 50px;
}

footer {
    text-align: center;
    padding: 5px;
    color: black;
}

/* Media Query for Mobile */
@media screen and (max-width: 768px) {
    .nav-list {
        flex-direction: row;
        align-items: center;
    }

    .nav-list li {
        margin-top: 0;
    }

    #portfolio {
        margin-top: -100px;
    }
}
