body {
    margin: 0;
    font-family: "Muli";
    background-color: #fff8f2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border: 25px solid white;
}

.navbar {
    background: #fff8f2;
    color: #406243;
    padding: 25px;
    text-align: right;
    font-size: 25px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.nav-list li {
    margin-left: 20px;
    position: relative;
}

.nav-list a {
    text-decoration: none;
    color: #406243;
    font-weight: bold;
    transition: color 0.3s;
    position: relative;
}

.nav-list .nav-item.active a {
    color: #4d5057;
}

.nav-list .nav-item::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 15px;
    background-color: #ffe872;
    transition: width 0.3s, bottom 0.3s;
}

.nav-list .nav-item.active::before,
.nav-list .nav-item:hover::before {
    width: 100%;
    bottom: 0;
}

.nav-list a:hover {
    color: black;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.grid-container {
    display: grid;
    gap: 20px;
    border: 5px solid black;
    max-width: 1000px;
    padding: 100px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    padding: 20px;
}

.contact-info img {
    max-width: 100%;
    height: auto;
}
button#submit {
    background-color: #fff8f2;
    color: #406243;
    border: 1px solid #406243; /* Set the border here */
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 1px;
    cursor: pointer;
    width: 30%;
}

/* Hover effect */
button#submit:hover {
    background-color: #406243;
    color: #fff8f2;
    border: none;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fffdf9; /* Set the background color here */
    border: 1px solid #406243; /* Add a border for clarity */
}

form textarea {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fffdf9; /* Set the background color here */
    border: 1px solid #406243; /* Add a border for clarity */
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 15px;
        text-align: center;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .nav-list li {
        margin: 10px 0;
    }

    .nav-list a {
        font-size: 16px;
    }

    .grid-container {
        padding: 10px;
        border: 3px solid black;
    }

    .grid-item {
        padding: 10px;
    }

    #title {
        margin-top: 10px;
        font-size: 30px;
    }

    #intro-text {
        margin-top: 10px;
        font-size: 16px;
    }

    #portfolio {
        margin-top: 10px;
        font-size: 18px;
    }

    footer {
        padding: 10px;
    }
}
