body {
    font-family: "Muli", sans-serif;
    background-color: #fff8f2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border: 25px solid white;
}

.navbar {
    background: #fff8f2;
    color: #406243;
    padding: 25px;
    text-align: right;
    font-size: 25px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.nav-list li {
    margin-left: 20px;
    position: relative;
}

.nav-list a {
    text-decoration: none;
    color: #406243;
    font-weight: bold;
    transition: color 0.3s;
    position: relative;
}

.nav-list .nav-item.active a {
    color: #4d5057;
}

.nav-list .nav-item::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 15px;
    background-color: #ffe872;
    transition: width 0.3s, bottom 0.3s;
}

.nav-list .nav-item.active::before,
.nav-list .nav-item:hover::before {
    width: 100%;
    bottom: 0;
}

.nav-list a:hover {
    color: black;
}

.grid-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    border: 5px solid black;
}

.text-container {
    background-color: #fff8f2;
    padding: 20px;
    text-align: left;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #4d5057;
}

.image-container a {
    text-decoration: none;
    color: #406243;
    font-weight: bold;
    transition: color 0.3s;
    position: relative;
    z-index: 1;
}

.image-container a:hover {
    color: black;
}

.image-container a::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 15px;
    background-color: #ffe872;
    transition: width 0.3s, bottom 0.3s;
    z-index: -1;

}

.image-container a:hover::before {
    width: 100%;
    bottom: 0;
}

.image-container img {
    margin: 10px;
}

.text-container h2,
.text-container h3,
.text-container p {
    margin: 0;
    color: #4d5057;
}

.grid-container p {
    font-family: "Muli";
    color: #4d5057;
}

footer {
    text-align: center;
    padding: 5px;
    color: rgba(0, 0, 0, .5);
}

@font-face {
    font-family: "Muli";
    src: url("/Fonts/muli/Muli.ttf");
}

@font-face {
    font-family: "MuliXB";
    src: url("/Fonts/muli/Muli-Bold.ttf");
}

/* Media Query for Mobile */
@media (max-width: 600px) {
    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .nav-list li {
        margin: 10px 0;
    }

    .navbar {
        font-size: 18px;
    }

    .nav-list .nav-item::before,
    .nav-list .nav-item.active::before,
    .nav-list .nav-item:hover::before {
        height: 10px;
    }

    .text-container {
        padding: 15px;
    }

    .image-container a::before {
        height: 10px;
    }
}