body {
    margin: 0;
    font-family: "Muli";
    background-color: #fff8f2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border:25px solid white;
}

.navbar {
    background: #fff8f2;
    color: #406243;
    padding: 25px;
    text-align: right;
    font-size: 25px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.nav-list li {
    margin-left: 20px;
    position: relative;
}

.nav-list a {
    text-decoration: none;
    color: #406243;
    font-weight: bold;
    transition: color 0.3s;
    position: relative;
}

.nav-list .nav-item.active a {
    color: #4d5057;
}

.nav-list .nav-item::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 15px;
    background-color: #ffe872;
    transition: width 0.3s, bottom 0.3s;
}

.nav-list .nav-item.active::before,
.nav-list .nav-item:hover::before {
    width: 100%;
    bottom: 0;
}

.nav-list a:hover {
    color: black;
}

.grid-container {
    display: grid;
    gap: 20px;
    border: 5px solid black;
    max-width: 1000px;
    padding: 100px;
}


.grid-item {
    background-color: #fff8f2;
    padding: 20px;
    text-align: center;
}

.grid-container p {
    font-family: "Muli";
    color:#4d5057;
}

#hackathon{
    width: 40%;
}
.grid-container img{
    width: 75%;
    height: auto;
}

footer {
    text-align: center;
    padding: 5px;
    color: rgba(0, 0, 0, .5);
}


@font-face{
    font-family: "Muli";
    src:url("/Fonts/muli/Muli.ttf");
}
@font-face{
    font-family: "MuliXB";
    src:url("/Fonts/muli/Muli-Bold.ttf");
}
/* Your existing styles go here */

@media only screen and (max-width: 600px) {
    /* Styles for screens 600px wide or less go here */
    
    .navbar {
        text-align: center;
    }

    .nav-list {
        justify-content: center;
    }

    .nav-list li {
        margin-left: 10px;
    }

    .grid-container {
        margin: 10px;
    }

    .text-container {
        padding: 10px;
    }

    .image-container {
        gap: 5px;
    }

    .image-container img {
        margin: 5px;
    }

    /* Add more styles as needed for better mobile responsiveness */
}
